<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="full-screen" content="yes">
    <meta content="default" name="apple-mobile-web-app-status-bar-style">
    <meta name="screen-orientation" content="portrait">
    <meta name="browsermode" content="application">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <base target="_blank">
    <title>NLAI_BOT</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/chat.js"></script>
</head>
<body lang="zh">
    <img style="width:100%;height:100%" src="/static/img/bg.jpg">
    <div class="abs cover contaniner">
        <div class="abs cover pnl">
            <div class="top pnl-head"></div>
            <div class="abs cover pnl-body" id="pnlBody">
                <div class="abs cover pnl-left">
                    <div class="abs cover pnl-msgs scroll" id="show">
{#                        <div class="msg min time" id="histStart">加载历史消息</div>#}
{#                        <div class="pnl-list" id="hists">#}
{#                            <!-- 历史消息 -->#}
{#                        </div>#}
                    <div style="overflow: auto;height: 100%;" id="msgs_box">
                        <div class="pnl-list" id="msgs">
                            <div class="msg robot">
                                <div class="msg-left" worker="NLAI">
                                    <div class="msg-host photo" style="background-image: url(/static/img/robot.jpeg)"></div>
                                    <div class="msg-ball" title="今天 17:52:06">你好，我是机器人NLAI</div>
                                </div>
                            </div>
                            <div class="msg guest">
                                <div class="msg-right">
                                    <div class="msg-host headDefault" style="background-image: url(/static/img/user.jpeg)"></div>
{#                                    <div class="msg-ball" title="今天 17:52:06">你好</div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="pnl-list hide" id="unreadLine">
                            <div class="msg min time unread">未读消息</div>
                        </div>
                    </div>
                    <div class="abs bottom pnl-text">
                        <div class="abs top pnl-warn" id="pnlWarn">
                            <div class="fl btns rel pnl-warn-free">
{#                                <img src="../Images/icon/Smile.png" class="kh warn-btn" title="表情" id="emojiBtn" />#}
{#                                <img src="../Images/icon/pic.png" class="kh warn-btn" title="截屏" id="emojiBtn" />#}
{#                                <img src="../Images/icon/camera.png" class="kh warn-btn" title="图片" id="emojiBtn" />#}
{#                                <img src="../Images/icon/edit.png" class="kh warn-btn" title="保存" id="emojiBtn" />#}

                            </div>
                        </div>
                        <div class="abs cover pnl-input">
                            <textarea class="scroll" id="text" wrap="hard" placeholder="在此输入文字信息..."></textarea>
                            <div class="abs atcom-pnl scroll hide" id="atcomPnl">
                                <ul class="atcom" id="atcom"></ul>
                            </div>
                        </div>
                        <div class="abs br pnl-btn" id="submit" style="background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" onclick="SendMsg()">发送</div>
                        <div class="pnl-support" id="copyright"><a href="#"></a></div>
                    </div>
                </div>
                <div class="abs right pnl-right">
                    <div class="slider-container hide"></div>
                    <div class="pnl-right-content">
                        <div class="pnl-tabs">
                            <div class="tab-btn active" id="hot-tab">常见问题</div>
                            <div class="tab-btn" id="rel-tab">相关问题</div>
                        </div>
                        <div class="pnl-hot">
                            <ul class="rel-list unselect" id="hots">
                                <li>1.常见问题</li>
                                <li>2.常见问题</li>
                                <li>3.常见问题</li>
                                <li>4.常见问题</li>
{#                                @{#}
{#                                    List<string> list = ViewData["FAQ"] as List<string>;#}
{#                                    for(int i = 0;i < list.Count;i++)#}
{#                                    {#}
{#                                        <li class="rel-item">@list[i]</li>#}
{#                                    }#}
{#                                }#}
                            </ul>
                        </div>
                        <div class="pnl-rel" style="display: none;">
                            <ul class="rel-list unselect" id="rels">
                                 <li class="rel-item">这里是相关问题</li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>